name: Node.js CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    env:
      CODECOV_TOKEN: 849dde91-e5e3-438d-a75e-07745ed7948a

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run eslint
    - run: npm run test -- --coverage
    - run: npx codecov
